<StackLayout height="210">
  <GridLayout rows="*, auto" columns="*, *">
    <StackLayout row="0" col="0" colspan="2" backgroundColor="#E0E0E0">
      <DrawingPad #signature penColor="#000000" penWidth="5"></DrawingPad>
    </StackLayout>
    <StackLayout row="1" col="0">
       <Button text="Reset" (tap)="reset()" class="btn btn-danger w-full">
       </Button>
    </StackLayout>
    <StackLayout row="1" col="1">
      <Button text="Submit" (tap)="send()" class="btn btn-primary w-full">
      </Button>
    </StackLayout>
  </GridLayout>
</StackLayout>
<GridLayout rows="*, auto, auto">
  <ListView [items]="imageAssets">
    <ng-template let-image="item" let-i="index">
      <GridLayout columns="auto, *">
        <Image
          [width]="thumbSize" [height]="thumbSize"
          [src]="image" stretch="fill">
        </Image>
        <Label col="1" [text]="'image ' + i"></Label>
      </GridLayout>
    </ng-template>
  </ListView>
  <Image [src]="imageSrc" *ngIf="isSingleMode" [width]="previewSize"
    [height]="previewSize" stretch="aspectFit">
  </Image>
  <Button row="1" text="Pick Single" (tap)="onSelectSingleTap()"
    horizontalAlignment="center">
  </Button>
  <Button row="2" text="Pick Multiple" (tap)="onSelectMultipleTap()"
    horizontalAlignment="center">
  </Button>
</GridLayout>
